{% load helpers %}
<script>var objectCompletions = {{ filters_model | filters_model_to_completions | to_json | safe }};</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/mode/simple.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/edit/matchbrackets.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/hint/show-hint.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/display/placeholder.min.js"></script>
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.css" />
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/hint/show-hint.min.css" />
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/theme/dracula.min.css"
      integrity="sha512-gFMl3u9d0xt3WR8ZeW05MWm3yZ+ZfgsBVXLSOiFz2xeVrZ8Neg0+V1kkRIo9LikyA/T9HuS91kDfc2XWse0K0A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />
<style>
    .CodeMirror {
        height: auto;
        min-height: 2rem;
        vertical-align: middle;
        text-align: left;
        border: 1px solid silver;
    }
    .CodeMirror pre.CodeMirror-placeholder { color: var(--bs-body-color); }
    .CodeMirror-hint {
        color: var(--bs-body-color);
    }
    .CodeMirror-hint .help {
        color: var(--bs-secondary-color);
    }
    .CodeMirror-hints {
        background-color: var(--bs-body-bg);
        z-index: 99999;
    }
    .CodeMirror-hint-active .help {
        color: lightgrey;
    }
    .CodeMirror-scroll {
        margin-right: 0;
        overflow-y: hidden !important;
        overflow-x: auto !important;
    }
</style>
<script>
    // CI Bug Log query lexer, for syntax highlighting
    var comment = {regex: /#.*/, token: "comment"};
    CodeMirror.defineSimpleMode("cibuglog-query", {
        start: [
            {regex: /\(/, indent: true},
            {regex: /\)/, dedent: true},
            {regex: /NOT/, token: "keyword"},
            {regex: /\w+/, token: "variable", next: "operator"},
            comment,
        ],
        operator: [
            {regex: /=|!=|>|<|>=|<=|~=/, token: "operator", next: "value"},
            {regex: /IS IN|NOT IN|I?CONTAINS|MATCHES/, token: "keyword", next: "value"},
            comment,
        ],
        value: [
            {regex: /"(?:[^\\]|\\.)*?(?:"|$)/, token: "string", next: "binop"},
            {regex: /'(?:[^\\]|\\.)*?(?:'|$)/, token: "string", next: "binop"},
            {regex: /\d+/, token: "number", next: "binop"},
            {regex: /\[[^\]]*\]/, token: "string", next: "binop"}, // array
            {regex: /\w+\([^)]*\)/i, token: "string", next: "binop"}, // call
            {regex: /NONE|TRUE|FALSE/, token: "atom", next: "binop"},
            comment,
        ],
        binop: [
            {regex: /AND|OR\b|ORDER_BY/, token: "keyword", next: "start"},
            {regex: /LIMIT/, token: "keyword", next: "value"},
            comment,
        ],
        meta: {
            lineComment: "#",
        },
    });

    CodeMirror.registerHelper("hint", "cibuglog-query", function(cm, options) {
        // Extract current token and word
        var token = cm.getTokenAt(cm.getCursor());
        var wordRange = cm.findWordAt(cm.getCursor());
        let lineLength = cm.getLine(cm.getCursor().line).length;
        if (cm.getCursor().ch < lineLength) {
            wordRange = cm.findWordAt({line: cm.getCursor().line, ch: cm.getCursor().ch - 1});
        }
        var word = cm.getRange(wordRange.anchor, wordRange.head);
        if (/\s/.test(word) || (token.state.state == "start" && word == "(")) {
            word = "";
            wordRange.anchor = wordRange.head;
        }

        // Build a list of possible completions
        var completions = null;
        if (token.state.state == "start" || token.type == "variable") {
            completions = [
                {text: "NOT"},
            ].concat(objectCompletions);
        } else if (token.type == "string") {
            completions = null; // Don't try to complete values
        } else if (token.state.state == "binop") {
            completions = [
                {text: "AND"},
                {text: "OR"},
                {text: "LIMIT", help: "Returns the specified amout of results"},
                {text: "ORDER_BY", help: "Orders by given value"},
            ];
        } else if (token.state.state == "operator") {
            completions = [
                {text: "=", help: "Is equal to"},
                {text: "!=", help: "Is not equal to"},
                {text: "<", help: "Is strictly less than"},
                {text: ">", help: "Is strictly greater than"},
                {text: "<=", help: "Is less than or equal"},
                {text: ">=", help: "Is greater than or equal"},
                {text: "~=", help: "Matches a regular expression"},
                {text: "IS IN", help: "Is in a list of values"},
                {text: "NOT IN", help: "Is not in a list of values"},
                {text: "CONTAINS", help: "Contains a substring"},
                {text: "ICONTAINS", help: "Case-insensitive version of CONTAINS"},
                {text: "MATCHES", help: "Matches a regular expression"},
            ];
        }
        if (completions == null) {
            return null;
        }

        // Filter completions with the current word
        var found = [];
        for (var i = 0; i < completions.length; i++) {
            var comp = completions[i];
            if (comp.text.slice(0, word.length) == word && comp.text != word) {
                found.push(comp);
            }
        }
        if (word == "") {
            // Word is empty, use all suggestions
            found = completions;
        }

        return {
            list: found.map(function(comp) {
                return {
                    text: comp.text,
                    render: function(elt, self, data) {
                        elt.innerHTML += comp.text;
                        if (comp.help) {
                            elt.innerHTML += ' <span class="help">' + comp.help + '</span>';
                        }
                    },
                };
            }),
            from: wordRange.anchor,
            to: wordRange.head,
        };
    });
</script>
