{% extends "CIResults/knownfailure_list.html" %}
{% load helpers %}
{% block title %}
    Build {{ build }}'s history
{% endblock title %}
{% block information %}
    <div class="card">
        <div class="card-header bg-primary text-white">Details about the build {{ build }}</div>
        <div class="card-body">
            <table class="table table-striped table-hover table-bordered table-sm sortable">
                <thead>
                    <tr>
                        <th>Key</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Component</td>
                        <td>{% include "CIResults/basic/component.html" with component=build.component %}</td>
                    </tr>
                    <tr>
                        <td>Added On</td>
                        <td>{{ build.added_on }}</td>
                    </tr>
                    <tr>
                        <td>Parents</td>
                        <td>{{ build.parents.all|csl:"build:CIResults/basic/build.html" }}</td>
                    </tr>
                    <tr>
                        <td>External URL</td>
                        <td>
                            <a href='{{ build.url }}'>{{ build.url }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Version</td>
                        <td>{{ build.version }}</td>
                    </tr>
                    <tr>
                        <td>Branch</td>
                        <td>{{ build.branch }}</td>
                    </tr>
                    <tr>
                        <td>Respository</td>
                        <td>{{ build.repo }}</td>
                    </tr>
                    <tr>
                        <td>Build parameters</td>
                        <td>{{ build.parameters }}</td>
                    </tr>
                    <tr>
                        <td>Build log</td>
                        <td>{{ build.build_log|linebreaks }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h2>Associated failures</h2>
{% endblock information %}
