{% extends "CIResults/base.html" %}
{% block title %}
    Home
{% endblock title %}
{% block content %}
    {% load humanize %}
    {% include "CIResults/basic/issues_table.html" with issues_table_title="Active Issues" %}
    {% if unknown_failures|length > 0 %}
        <div class="card">
            <div class="card-header bg-danger">
                <a class="text-white"
                   data-bs-toggle="collapse"
                   href="#unknown_failures-body">Unknown Failures ({{ unknown_failures|length }})</a>
            </div>
            <div id="unknown_failures-body" class="card-body collapse">
                <table class="table table-striped table-hover table-bordered table-sm sortable filtrable"
                       id="unknown_failures_lst">
                    <thead>
                        <tr>
                            <th data-filtrable-name='test_name'>Test</th>
                            <th data-filtrable-name='machine_tag'>Machine tag</th>
                            <th data-filtrable-name='machie_name'>Machine</th>
                            <th data-filtrable-name='status_name'>Status</th>
                            <th data-filtrable-name='runconfig_name'>Run Config (age)</th>
                            <th data-filtrable-name='bug_title'>Potential issues matched</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for failure in unknown_failures %}
                            <tr>
                                <td>{% include "CIResults/basic/test.html" with test=failure.result.test %}</td>
                                <td>
                                    {% for tag in failure.result.ts_run.machine.tags.all %}
                                        <span class="badge bg-secondary me-1">{{ tag }}</span>
                                    {% endfor %}
                                </td>
                                <td>{% include "CIResults/basic/machine.html" with machine=failure.result.ts_run.machine %}</td>
                                <td>{% include "CIResults/basic/testresult.html" with testresult=failure.result %}</td>
                                <td>{% include "CIResults/basic/runconfig_lite.html" with runconfig=failure.result.ts_run.runconfig %}</td>
                                <td>
                                    {% for issue in failure.matched_issues %}
                                        {% include "CIResults/basic/issue.html" %}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
    {% if suppressed_tests|length > 0 %}
        <div class="card">
            <div class="card-header bg-secondary">
                <a class="text-white"
                   data-bs-toggle="collapse"
                   href="#suppressed_tests-body">Suppressed tests ({{ suppressed_tests.paginator.count }})</a>
            </div>
            <div id="suppressed_tests-body" class="card-body collapse">
                <form action="{% url 'CIResults-test-mass-vetting' %}" method="post">
                    {% csrf_token %}
                    {% if perms.CIResults.vet_test %}
                        <div class="d-flex align-items-center mb-2">
                            <div>
                                <a href="#" data-select-all="suppressed_tests_lst">Select all</a>, <a href="#" data-unselect-all="suppressed_tests_lst">Unselect all</a>
                            </div>
                            <div class="ms-auto">
                                <button data-submit-confirm="Are you sure you want to vet {checked} tests?"
                                        class="btn btn-primary"></button>
                                Vet
                            </div>
                        </div>
                    {% endif %}
                    <table class="table table-striped table-hover table-bordered table-sm sortable global-filtrable"
                           id="suppressed_tests">
                        <thead>
                            <tr>
                                <th data-filtrable-name="name">Test</th>
                                <th data-filtrable-name="first_runconfig">First Seen on</th>
                                <th data-filtrable-name="added_on" class="filtrable-date">Added on</th>
                            </tr>
                        </thead>
                        <tbody id="suppressed_tests_lst">
                            {% for test in suppressed_tests %}
                                <tr>
                                    <td {% if perms.CIResults.vet_test %}data-select-name="{{ test.id }}"{% endif %}>{% include "CIResults/basic/test.html" with test=test %}</td>
                                    <td>{% include "CIResults/basic/runconfig_lite.html" with runconfig=test.first_runconfig %}</td>
                                    <td data-sorttable-customkey="{{ test.added_on|date:'U' }}">{{ test.added_on }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% with page_obj=suppressed_tests page_name="suppressed_tests_page" %}
                        {% include "CIResults/basic/paginator.html" %}
                    {% endwith %}
                </form>
            </div>
        </div>
    {% endif %}
    {% if suppressed_machines|length > 0 %}
        <div class="card">
            <div class="card-header bg-secondary">
                <a class="text-white"
                   data-bs-toggle="collapse"
                   href="#suppressed_machines-body">Suppressed machines ({{ suppressed_machines.paginator.count }})</a>
            </div>
            <div id="suppressed_machines-body" class="card-body collapse">
                <form action="{% url 'CIResults-machine-mass-vetting' %}" method="post">
                    {% csrf_token %}
                    {% if perms.CIResults.vet_machine %}
                        <div class="d-flex align-items-center mb-2">
                            <a href="#" data-select-all="suppressed_machine_lst">Select all</a>, <a href="#" data-unselect-all="suppressed_machine_lst">Unselect all</a>
                            <div class="ms-auto">
                                <button data-submit-confirm="Are you sure you want to vet {checked} machines?"
                                        class="btn btn-primary"></button>
                                Vet
                            </div>
                        </div>
                    {% endif %}
                    <table class="table table-striped table-hover table-bordered table-sm sortable global-filtrable"
                           id="suppressed_machine_lst">
                        <thead>
                            <tr>
                                <th data-filtrable-name="name">Machine</th>
                                <th data-filtrable-name="added_on" class="filtrable-date">Added on</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for machine in suppressed_machines %}
                                <tr>
                                    <td {% if perms.CIResults.vet_machine %}data-select-name="{{ machine.id }}"{% endif %}>
                                        {% include "CIResults/basic/machine.html" with machine=machine %}
                                    </td>
                                    <td data-sorttable-customkey="{{ machine.added_on|date:'U' }}">{{ machine.added_on }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% with page_obj=suppressed_machines page_name="suppressed_machines_page" %}
                        {% include "CIResults/basic/paginator.html" %}
                    {% endwith %}
                </form>
            </div>
        </div>
    {% endif %}
    {% if suppressed_statuses|length > 0 %}
        <div class="card">
            <div class="card-header bg-secondary">
                <a class="text-white"
                   data-bs-toggle="collapse"
                   href="#suppressed_statuses-body">Suppressed statuses ({{ suppressed_statuses|length }})</a>
            </div>
            <div id="suppressed_statuses-body" class="card-body collapse">
                <form action="{% url 'CIResults-textstatus-mass-vetting' %}" method="post">
                    {% csrf_token %}
                    {% if perms.CIResults.vet_textstatus %}
                        <div class="d-flex align-items-center mb-2">
                            <a href="#" data-select-all="suppressed_statuses_lst">Select all</a>, <a href="#" data-unselect-all="suppressed_statuses_lst">Unselect all</a>
                            <div class="ms-auto">
                                <button data-submit-confirm="Are you sure you want to vet {checked} statuses?"
                                        class="btn btn-primary"></button>
                                Vet
                            </div>
                        </div>
                    {% endif %}
                    <table class="table table-striped table-hover table-bordered table-sm sortable global-filtrable"
                           id="suppressed_statuses_lst">
                        <thead>
                            <tr>
                                <th data-filtrable-name="name">Status</th>
                                <th data-filtrable-name="added_on" class="filtrable-date">Added on</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for status in suppressed_statuses %}
                                <tr>
                                    <td {% if perms.CIResults.vet_textstatus %}data-select-name="{{ status.id }}"{% endif %}>
                                        {% include "CIResults/basic/textstatus.html" with status=status %}
                                    </td>
                                    <td data-sorttable-customkey="{{ status.added_on|date:'U' }}">{{ status.added_on }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock content %}
