{% extends "CIResults/base.html" %}
{% block title %}
    Comments Trend
{% endblock title %}
{% block content %}
    {% include "CIResults/basic/user_filtering_searchbox.html" %}
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card">
                <div class="card-body ">
                    <canvas id="CommentsOverTime"
                            data-chart-type="comments_over_time"
                            data-chart-data="{{ comments_trend|escape }}"
                            data-chart-title="Comments trend ({{ comments_trend.period_desc }})"
                            data-fullscreen-target="fullscreenModal"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <a data-bs-toggle="collapse" href="#statistics">Per-account comments trend</a>
        </div>
        <div id="statistics" class="card-body collapse show">
            <table class="table table-sm table-striped table-hover table-bordered table-sm sortable break-word">
                <thead>
                    <tr>
                        <th>Account</th>
                        {% for label in comments_trend.label reversed %}<th>{{ label }}</th>{% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for account, comments in per_account_periods.items %}
                        <tr id="account_stats_{{ forloop.counter0 }}">
                            <td>{% include "CIResults/basic/account.html" with account=account %}</td>
                            {% for cp in comments reversed %}
                                <td data-sorttable-customkey="{{ cp|length }}">
                                    {% if verbose %}
                                        <a data-inform='
                                            <p>Comments from {{ account }}:</p>
                                            <ul>
                                                {% for comment in cp %}
                                                    <li>
                                                        <a href="{{ comment.url }}"
                                                           {% if not comment.bug.is_open %}class="bug_closed"{% endif %}>{{ comment.created_on }} - {{ comment.bug }}</a>
                                                    </li>
                                                {% empty %}
                                                    <li>No comments created</li>
                                                {% endfor %}
                                            </ul>
                                            ' href="">
                                        {% endif %}
                                        {{ cp|length }}
                                        {% if verbose %}</a>{% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5" style="text-align: center;">No comments found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade"
         id="fullscreenModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" style="width: 90%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-hidden="true"></button>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>
    {% include "CIResults/basic/metrics_deps.html" %}
{% endblock content %}
