{% extends "CIResults/knownfailure_list.html" %}
{% load helpers %}
{% block title %}
    Status history
{% endblock title %}
{% block information %}
    <div class="card">
        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
            Details about the status {{ status }}
            <div class="btn-group my-auto">
                <button type="button"
                        class="btn btn-secondary dropdown-toggle"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    <i class="bi bi-list"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-endight">
                    {% if status.vetted_on != None and perms.CIResults.suppress_textstatus %}
                        <a class="dropdown-item"
                           href="{% url 'CIResults-textstatus-suppress' status.id %}"><i class="bi bi-hand-thumbs-down"></i> Suppress</a>
                    {% elif status.vetted_on == None and perms.CIResults.vet_textstatus %}
                        <a class="dropdown-item"
                           href="{% url 'CIResults-textstatus-vet' status.id %}"><i class="bi bi-hand-thumbs-up"></i> Vet</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-striped table-hover table-bordered table-sm sortable">
                <thead>
                    <tr>
                        <th>Key</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Test suite</td>
                        <td>{% include "CIResults/basic/testsuite.html" with testsuite=status.testsuite %}</td>
                    </tr>
                    <tr>
                        <td>Vetted On</td>
                        <td>{{ status.vetted_on|default:"Not vetted yet" }}</td>
                    </tr>
                    <tr>
                        <td>Associated color</td>
                        <td style="color: {{ status.color }};">{{ status.color }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h2>Associated failures</h2>
{% endblock information %}
