/* always show the scroll bare to avoid page jumping */
html {
  overflow-y: scroll;
}

a {
    text-decoration: none;
}

.card-header.bg-primary,
.card-header.bg-danger
{
    --bs-bg-opacity: .75;
}

.tracker_polled {
    margin-top: 5px;
    margin-bottom: -10px;
}

.row-spacer {
    margin-top: 15px;
}

.card{
    margin-bottom: 1rem;
}
.navbar_fixed {
    padding-top: 70px;
}

.select-item {
    margin-right: 10px;
}

.filter_row_select {
    width: calc(100% - 76px) !important;
}

.icon-flipped {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

.role_dev {
    color: blue;
    text-decoration: underline;
}
.role_user {
    color: green;
    font-style: italic;
}

ol {
    padding-left: 1.2em;
}

.break-word {
    word-wrap: break-word;
}

.bug_closed {
    text-decoration: line-through;
}

#table-issues ul:target li{
    background: orange;
}

#table-issues ul::before {
    display: block;
    content: ' ';
    margin-top: -60px;
    height: 60px;
    visibility: hidden;
}

.search_bar {
    margin-bottom: 10px;
}

.search_bar input[type=text] {
    width: 75% !important;
}

span.userfilter_object_type {
    color: green;
    text-decoration: underline;
}

.runconfig_input_group input {
    width: 20rem !important;
}

.runconfig_diff li > p {
    margin-top: 0;
    margin-bottom: 0;
}

.runconfig_diff ul {
    margin-bottom: 10px;
}

.card-header > .btn-group {
    margin-top: -7px;
}

td > ul {
    padding-left: 15px;
}

.btn-img {
    width: 24px;
}

.column-selector div {
    background-color: var(--bs-secondary-bg);
    border-radius: 10px;
    margin-left: 3px;
    padding: 3px 8px 3px 7px;
}

.column-selector {
    margin-bottom: 10px;
}

.help_text {
    border-bottom: 2px dotted grey;
}

span.help_text i.bi {
    color: grey;
}

.to-hover:hover > .to-show {
  visibility: visible;
}

.to-show {
  visibility: hidden;
}

thead {
  position: sticky;
  top: 54px;
  background-color: var(--bs-body-bg);
}
